In [3]:
class LR:
    
    def __init__(self):
        self.m = None
        self.b = None
    
    def fit(self, xtrain, ytrain):
        num = 0
        denom = 0
        for i in range(xtrain.shape[0]):
            num += (xtrain[i]-xtrain.mean())*(ytrain[i]-ytrain.mean())
            denom += (xtrain[i]-xtrain.mean()) * (xtrain[i]-xtrain.mean())
        self.m = num/denom
        self.b = (ytrain.mean() - self.m * xtrain.mean())
    
    def predict(self, xtest):
        return self.m * xtest + self.b
    
    #def

In [4]:
lr = LR()

In [7]:
print(lr)

<__main__.LR object at 0x0000022827E66AC0>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv(r"E:\Jupyter Notebooks\regression data placement.csv")

In [12]:
x = df.iloc[:,0:1]
y = df['package']

In [13]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2, random_state=42)

In [17]:
xtrain#[0] # this gives key error since index 0 doessn't exit for a pandas df

     cgpa
79   7.18
197  7.21
38   8.62
24   6.53
122  5.12
..    ...
106  6.13
14   7.73
92   7.90
179  7.14
102  5.13

[160 rows x 1 columns]

In [26]:
ytrain

79     3.00
197    3.24
38     4.36
24     2.71
122    2.01
       ...
106    2.19
14     3.42
92     4.00
179    3.03
102    1.37
Name: package, Length: 160, dtype: float64

In [24]:
ytrain[0] # this is different from below cell so to avoid any confusion 
# for ytrain value corresponding to the xtrain value , we pass both of them as numpy arrays to the class

3.26

In [25]:
ytrain.values[0]

3.0

In [27]:
lr.fit(xtrain.values, ytrain.values)
pred = lr.predict(xtest)

In [28]:
pred

         cgpa
95   2.780313
15   3.136352
30   3.199521
158  2.389819
128  3.526847
115  3.768035
69   3.165065
170  2.544868
174  3.176550
45   3.492392
66   1.907444
182  2.349621
165  3.687639
78   2.757343
186  3.475164
177  3.044471
56   2.326651
152  3.205263
82   2.177344
68   3.314372
124  2.452987
16   2.900907
148  3.320115
93   2.872195
65   3.337342
60   2.194572
84   1.419326
67   2.711403
125  3.182293
132  2.326651
9    3.745064
18   2.958333
55   3.681896
75   2.975561
150  2.590809
104  3.348827
135  2.475958
137  3.073184
164  4.175757
76   2.958333

In [29]:
original = LinearRegression()
original.fit(xtrain,ytrain)
original.predict(xtest)

array([2.78031348, 3.13635249, 3.1995207 , 2.38981908, 3.52684689,
       3.76803461, 3.16506531, 2.54486832, 3.17655044, 3.4923915 ,
       1.90744364, 2.34962112, 3.6876387 , 2.75734322, 3.47516381,
       3.04447145, 2.32665086, 3.20526327, 2.17734418, 3.314372  ,
       2.45298729, 2.90090734, 3.32011456, 2.87219451, 3.33734226,
       2.19457187, 1.41932564, 2.7114027 , 3.18229301, 2.32665086,
       3.74506435, 2.95833298, 3.68189614, 2.97556068, 2.59080884,
       3.34882738, 2.47595755, 3.07318428, 4.17575671, 2.95833298])

In [31]:
# prediction from our class and original class match
# LinearRegression class uses OLS method as used by our class

In [32]:
lr.b, lr.m

(array([-1.02700694]), array([0.57425647]))

In [33]:
original.intercept_, original.coef_

(-1.0270069374542108, array([0.57425647]))

In [38]:
#newlr = LinearRegression()

In [37]:
#newlr.coef_ # these attributes are only available after model fitting

So, while var_ variables are not a special type of variable in Python itself, they are a convention used in certain libraries to indicate that these variables are generated after some processing or fitting has been done.